@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
:root {
    --default-text: rgb(calc(255 - var(--val)), calc(255 - var(--val)), calc(255 - var(--val)));
    }
::selection{
    background: rgba(var(--val), var(--val), var(--val),0.5);
}

html{
    background: linear-gradient(150deg, rgba(123, 64, 110, 0.7) 8.97%, rgba(171, 52, 52, 0.7) 80.31%);
    background-color: rgb(var(--val), var(--val), var(--val));
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Fredoka', 'sans-serif';
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
}

.content{
    margin: 60px;
}
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  rgba(var(--val), var(--val), var(--val), 0.4);
}

.bar-items {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 5px;
    align-items: center;
}

.navigator {
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 6px;
    cursor: pointer;
    border-radius: 12px;
    transition: 0.3s;
}

.navigator:hover {
  background-color: rgba(calc(225 - var(--val)), calc(225 - var(--val)), calc(225 - var(--val)), 0.1);
}

.navigator:active{
  background-color: rgba(calc(225 - var(--val)), calc(225 - var(--val)), calc(225 - var(--val)), 0.3);
}

.home:hover {
    background-color: transparent;
}


h1,h2,h3,p,li,em,span,select,label{
    color: var(--default-text);
    font-weight: 400;
}

.bold{
    font-weight: 500;
}
.icon {
    width: 20px;
    height: 20px;
}

.fillvector {
    fill: var(--default-text);
}

.strokevector {
    stroke: var(--default-text);
}

button {
    font-family: 'Fredoka', sans-serif;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    padding: 12px 14px 12px 14px;
    border: none;
    border-radius: 18px;
    background:  rgba(var(--val), var(--val), var(--val), 0.3);
}
button:hover {
    box-shadow: 0 0 20px rgba(calc(225 - var(--val)),calc(225 - var(--val)),calc(225 - var(--val)), 0.2);
}
button:active {
  box-shadow: 0 0 30px rgba(calc(225 - var(--val)),calc(225 - var(--val)),calc(225 - var(--val)), 0.2);
}
.button h2{
    margin: 0;
}
.navigator h3,h2,p{
    margin: 0;
}

a{
    text-decoration: none;
    color: #aa5252;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

input[type="text"] {
    font-family: 'Fredoka', sans-serif;
    color: var(--default-text);
    background: rgba(calc(225 - var(--val)), calc(225 - var(--val)), calc(225 - var(--val)), 0.1);
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: large;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
code{
    background-color: rgba(var(--val), var(--val), var(--val), 0.2);
    padding: 3px;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(var(--val), var(--val), var(--val), 0.5);
    border-radius: 10px;
    margin: 5px;
}
::-webkit-scrollbar-thumb:hover {
    cursor: grab;
}

::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}

@media screen and (max-width: 1250px) {
    .mobile {
        display: none;
    }
    .dropdown-content{
        width: 75px;
    }

}

@media screen and (max-width: 768px) {
    .droparrowdown {
        display: none;
    }
    .dropdown-content {
        transform: none;
        width: 50px;
    }
    .dropdown-content .navigator{
        padding: 10px 0 10px 0;
    }
    .navigator {
        justify-content: center;
    }
    .navigator[onclick="window.location.href = '/editor/'"]{
        display: none;
    }
}

.truncated {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}