/* General Styles */
.lm_content {
    overflow: auto;
    background: rgba(var(--val), var(--val), var(--val), 0.3);
}

#settingsDiv,#codeDiv,#assetsDiv{
    padding: 20px;
}

/* Tab Styles */
.lm_header .lm_tab {
    background: transparent;
    padding: 3px 30px 0 20px;
    margin: 5px 3px 5px 3px;
    height: auto;
    user-select: none;
    white-space: nowrap;
}

.lm_tabs{
    position: relative !important;
}

.lm_header{
    display: flex !important;
}

.new_tab{
    display: flex;
    align-items: center;
    width: 13px;
    margin: 5px 0 5px 3px;
    padding: 6px;
    cursor: pointer;
}

.lm_header .lm_tab .lm_close_tab {
    background-image: url("data:image/svg+xml,%3Csvg fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m16 8-8 8m1e-5 -8 8 8' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3C/svg%3E%0A");
    filter: brightness(calc(1 - var(--val)));
    background-position: center center;
    background-repeat: no-repeat;
    top: 6px;
    right: 6px;
    width: 17px;
    height: 17px;
}

.lm_header .lm_tab.lm_active {
    border-bottom: none;
}

/* Tab Hover and Active Styles */
.lm_tab:hover, .new_tab:hover{
    background: rgba(var(--val), var(--val), var(--val), 0.3);
    border-radius: 15px ;
}
.lm_tab.lm_active {
    background: rgba(var(--val), var(--val), var(--val), 0.3);
    border-radius: 10px 10px 0 0;
    margin: 5px 3px 0 3px;
    padding: 3px 30px 5px 20px;
}

/* Header Control Styles */
.lm_controls > li {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    transition: opacity 300ms ease;
}

/* Control Icons */
.lm_controls .lm_close {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAQUlEQVR4nHXOQQ4AMAgCQeT/f6aXpsGK3jSTuCVJAAr7iBdoAwCKd0nwfaAdHbYERw5b44+E8JoBjEYGMBq5gAYP3usUDu2IvoUAAAAASUVORK5CYII=");
    filter: brightness(calc(1 - var(--val)));
}

/* Drop Target Styles */
.lm_dropTargetIndicator {
    outline: 1px dashed rgb(calc(225 - var(--val)), calc(225 - var(--val)), calc(225 - var(--val)));
    transition: all 200ms ease;
    border-radius: 5px;
}

.lm_dropTargetIndicator .lm_inner {
    background: rgba(var(--val), var(--val), var(--val), 0.2);
}

/* Icon Styles */

.lm_tab[title='Blocks']::before{
    content: url("data:image/svg+xml,%3Csvg fill='none' width='18' height='18' viewBox='0 0 36 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m29.857 22.126c0 0.1758-0.1386 0.3-0.2857 0.3h-13.636c-0.6055 0-1.1901 0.2396-1.6202 0.6779-7e-4 8e-4 -0.0015 0.0016-0.0022 0.0023l-1.7911 1.811c-0.0528 0.0534-0.124 0.0828-0.1967 0.0828h-4.0783c-0.07274 0-0.14391-0.0294-0.19671-0.0828l-1.7949-1.8148c-0.42912-0.4339-1.009-0.6764-1.6187-0.6764h-3.3506c-0.14704 0-0.28571-0.1242-0.28571-0.3v-7.826c0-0.1758 0.13867-0.3 0.28571-0.3h3.3249c0.07274 0 0.14391 0.0294 0.19671 0.0828l1.8206 1.8408c0.42549 0.4302 1.0075 0.6764 1.6187 0.6764h4.0783c0.6112 0 1.1932-0.2462 1.6187-0.6764l1.8205-1.8408c0.0528-0.0534 0.124-0.0828 0.1968-0.0828h13.61c0.1471 0 0.2857 0.1242 0.2857 0.3v7.826zm5.1429-13c0 0.17576-0.1387 0.3-0.2857 0.3h-18.779c-0.6056 0-1.1902 0.23969-1.6203 0.678-7e-4 8e-4 -0.0014 0.0015-0.0021 0.0022l-1.7911 1.811c-0.0528 0.0534-0.124 0.0828-0.1967 0.0828h-4.0783c-0.07274 0-0.14391-0.0294-0.19671-0.0828l-1.7949-1.8148c-0.42912-0.43388-1.009-0.6764-1.6187-0.6764h-3.3506c-0.14704 0-0.28571-0.12424-0.28571-0.3v-7.826c0-0.17576 0.13867-0.3 0.28571-0.3h3.3249c0.07274 0 0.14391 0.0294 0.19671 0.08279l1.8206 1.8408c0.42549 0.43021 1.0075 0.67641 1.6187 0.67641h4.0783c0.6112 0 1.1932-0.2462 1.6187-0.67641l1.8205-1.8408c0.0528-0.05339 0.124-0.08279 0.1968-0.08279h18.753c0.147 0 0.2857 0.12424 0.2857 0.3v7.826z' stroke-width='2' stroke='%23fff'%3E%3C/path%3E%3C/svg%3E");
    filter: brightness(calc(1 - var(--val)));
    margin-right: 5px;
}

.lm_tab[title='Code']::before{
    content: url("data:image/svg+xml,%3Csvg fill='none' width='18' height='18' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12 16c-1.3807 0-2.5 1.1193-2.5 2.5s1.1193 2.5 2.5 2.5 2.5-1.1193 2.5-2.5-1.1193-2.5-2.5-2.5zm0 0v-4m-6.5-4c1.3807 0 2.5-1.1193 2.5-2.5s-1.1193-2.5-2.5-2.5-2.5 1.1193-2.5 2.5 1.1193 2.5 2.5 2.5zm0 0v0.8c0 1.1201 0 1.6802 0.21799 2.108 0.19174 0.3763 0.4977 0.6823 0.87403 0.874 0.42782 0.218 0.98787 0.218 2.108 0.218h6.6c1.1201 0 1.6802 0 2.108-0.218 0.3763-0.1917 0.6823-0.4977 0.874-0.874 0.218-0.4278 0.218-0.98789 0.218-2.108v-0.8m0 0c1.3807 0 2.5-1.1193 2.5-2.5s-1.1193-2.5-2.5-2.5-2.5 1.1193-2.5 2.5 1.1193 2.5 2.5 2.5z' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' stroke='%23fff'%3E%3C/path%3E%3C/svg%3E");
    filter: brightness(calc(1 - var(--val)));
    margin-right: 5px;
}

.lm_tab[title='Settings']::before{
    content: url("data:image/svg+xml,%3Csvg stroke='%23fff' width='18' height='18px' fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke-width='1.5'%3E%3Ccircle cx='12' cy='12' r='3'%3E%3C/circle%3E%3Cpath d='m13.765 2.1522c-0.3676-0.15224-0.8335-0.15224-1.7654-0.15224s-1.3978 0-1.7654 0.15224c-0.49003 0.20299-0.87938 0.59234-1.0824 1.0824-0.09266 0.22371-0.12893 0.48387-0.14312 0.86336-0.02085 0.55769-0.30685 1.0739-0.79017 1.3529-0.4833 0.27903-1.0734 0.26861-1.5668 0.00783-0.33574-0.17746-0.57918-0.27614-0.81925-0.30774-0.5259-0.06924-1.0578 0.07327-1.4786 0.39618-0.31562 0.24218-0.54859 0.6457-1.0145 1.4527-0.46594 0.80704-0.69891 1.2106-0.75084 1.605-0.06923 0.52589 0.07328 1.0578 0.39619 1.4786 0.14738 0.1921 0.35452 0.3535 0.67601 0.5555 0.47261 0.297 0.7767 0.8029 0.77667 1.361s-0.30411 1.0639-0.77668 1.3608c-0.32153 0.2021-0.5287 0.3636-0.6761 0.5557-0.32291 0.4208-0.46542 0.9526-0.39618 1.4785 0.05192 0.3944 0.28489 0.798 0.75083 1.605 0.46595 0.807 0.69892 1.2106 1.0145 1.4527 0.42082 0.3229 0.95268 0.4654 1.4786 0.3962 0.24005-0.0316 0.48348-0.1303 0.8192-0.3077 0.49343-0.2608 1.0835-0.2712 1.5669 0.0078 0.48334 0.2791 0.76936 0.7953 0.79021 1.3531 0.0142 0.3794 0.05046 0.6396 0.14312 0.8633 0.20299 0.49 0.59234 0.8794 1.0824 1.0824 0.3676 0.1522 0.8335 0.1522 1.7654 0.1522s1.3978 0 1.7654-0.1522c0.49-0.203 0.8794-0.5924 1.0823-1.0824 0.0927-0.2237 0.129-0.4839 0.1432-0.8634 0.0208-0.5577 0.3068-1.0739 0.7901-1.353s1.0734-0.2686 1.5669-0.0078c0.3357 0.1774 0.5791 0.276 0.8191 0.3076 0.5259 0.0693 1.0578-0.0732 1.4786-0.3961 0.3156-0.2422 0.5486-0.6457 1.0145-1.4528 0.466-0.807 0.699-1.2105 0.7509-1.6049 0.0692-0.5259-0.0733-1.0578-0.3962-1.4786-0.1474-0.1921-0.3546-0.3536-0.6761-0.5556-0.4725-0.2969-0.7766-0.8028-0.7766-1.3609s0.3041-1.0638 0.7766-1.3607c0.3216-0.2021 0.5288-0.3635 0.6762-0.5557 0.3229-0.42077 0.4654-0.95263 0.3962-1.4785-0.0519-0.39442-0.2849-0.79794-0.7509-1.605-0.4659-0.80703-0.6989-1.2106-1.0145-1.4527-0.4208-0.32291-0.9527-0.46542-1.4786-0.39618-0.24 0.0316-0.4834 0.13027-0.8192 0.30771-0.4934 0.26079-1.0835 0.27122-1.5668-0.00784-0.4834-0.27905-0.7694-0.7953-0.7902-1.353-0.0142-0.37946-0.0505-0.63961-0.1432-0.86331-0.2029-0.49005-0.5923-0.8794-1.0823-1.0824z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    filter: brightness(calc(1 - var(--val)));
    margin-right: 5px;
}

.lm_tab[title='Assets']::before{
    content: url("data:image/svg+xml,%3Csvg width='18' height='18' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='16.5' x2='7.5' y1='9.4' y2='4.21'/%3E%3Cpath d='M21 16V8a2 2 0 00-1-1.73l-7-4a2 2 0 00-2 0l-7 4A2 2 0 003 8v8a2 2 0 001 1.73l7 4a2 2 0 002 0l7-4A2 2 0 0021 16z'/%3E%3Cpolyline points='3.27 6.96 12 12.01 20.73 6.96'/%3E%3Cline x1='12' x2='12' y1='22.08' y2='12'/%3E%3C/svg%3E%0A");    filter: brightness(calc(1 - var(--val)));
    margin-right: 5px;
}

.lm_tab[title='New Tab']::before{
    content: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.3747 3.37603C12.0906 3.41684 11.8116 3.51268 11.5977 3.66402C11.4903 3.74 11.1327 4.01993 11.1816 4.50601C11.2339 5.02548 11.6841 5.22088 11.8351 5.2751L12.3747 3.37603ZM12.3747 3.37603C12.0503 3.01198 11.6969 2.65801 11.3533 2.39263L11.8017 1.81191L11.3533 2.39263C10.8197 1.98059 10.0477 1.55767 9.36909 1.22954C9.15815 1.12755 8.96095 1.03698 8.78907 0.96109C8.65178 1.35036 8.48411 1.86551 8.31823 2.38752C8.19866 2.7638 8.08187 3.13775 7.97938 3.46592C7.93575 3.60564 7.8947 3.73707 7.85714 3.85684C7.79487 4.05536 7.74141 4.22431 7.7025 4.34253C7.68363 4.39987 7.66525 4.45426 7.64971 4.49626C7.64377 4.51231 7.63001 4.54929 7.61187 4.58764L7.61169 4.58804C7.60881 4.59439 7.57456 4.66982 7.51225 4.74647C7.49249 4.77079 7.45346 4.81599 7.3949 4.86231C7.38643 4.86901 7.37585 4.8771 7.36323 4.88605C7.35585 4.89162 7.34887 4.89678 7.34297 4.90112C7.32151 4.91691 7.29326 4.93724 7.26307 4.95895C7.25694 4.96335 7.2506 4.9679 7.24406 4.9726C7.18369 5.01597 7.10575 5.07198 7.01328 5.13962C6.80824 5.28959 6.53557 5.49406 6.24953 5.72669C5.96207 5.96049 5.66965 6.21584 5.42196 6.46708C5.16594 6.72676 4.99477 6.94523 4.91198 7.10376L4.26396 6.76532L4.91198 7.10376C4.40159 8.08102 3.99012 9.27523 3.88966 9.69511L3.88963 9.69524L3.67908 10.5745L3.61591 10.8384L3.3986 11.0007L2.9497 10.3999L3.39857 11.0007L3.39847 11.0008L3.39808 11.0011L3.3965 11.0023L3.39022 11.007L3.36566 11.0253L3.27232 11.0951L2.93898 11.3446C2.66302 11.5513 2.29519 11.8272 1.92738 12.1041C1.64171 12.3191 1.35683 12.5342 1.11527 12.7178C1.11993 12.7219 1.12456 12.7259 1.12915 12.7299C1.17008 12.7654 1.20596 12.7953 1.23542 12.8186C1.25003 12.8302 1.26186 12.8392 1.27096 12.8459C1.27945 12.8522 1.2837 12.855 1.2842 12.8554C1.28425 12.8554 1.28426 12.8554 1.28422 12.8554C1.33205 12.8865 1.37121 12.9202 1.3785 12.9265L1.3794 12.9273C1.39387 12.9396 1.40909 12.9531 1.42094 12.9637C1.42679 12.9689 1.43269 12.9741 1.43873 12.9795C1.4602 12.9986 1.48339 13.0193 1.51202 13.0443C1.58333 13.1065 1.68244 13.1901 1.80869 13.2859C2.06199 13.478 2.42395 13.7186 2.88262 13.9283C3.79192 14.3439 5.08893 14.6435 6.71147 14.1864L7.81028 13.8768L7.65819 15.0082L7.58282 15.5688L10.1291 17.2429C10.2432 17.2435 10.3618 17.2447 10.4839 17.2459C11.1927 17.2531 12.0221 17.2615 12.8192 17.1594C13.8967 17.0213 14.5585 16.7177 14.8061 16.2829L14.8061 16.2829C14.8687 16.173 14.9396 16.0524 15.0159 15.9229C15.1967 15.6157 15.4073 15.2578 15.6071 14.871C15.9004 14.3032 16.0861 13.8254 16.11 13.531C16.1312 13.2692 16.055 13.0444 15.9204 12.7362C15.9113 12.7154 15.9013 12.693 15.8908 12.6692C15.8332 12.539 15.7581 12.3695 15.7065 12.2072C15.6415 12.0028 15.5845 11.729 15.644 11.4218C15.6969 11.1491 15.8546 10.9252 16.0769 10.7834C16.2604 10.6665 16.4521 10.6276 16.595 10.6145C16.4928 10.4538 16.3819 10.2937 16.2636 10.1423L16.2636 10.1423C16.0091 9.8166 15.6847 9.52425 15.3802 9.26309C15.3466 9.23432 15.3122 9.20495 15.2776 9.17545C15.1666 9.08095 15.0541 8.98507 14.9651 8.90308C14.905 8.84778 14.8379 8.78291 14.778 8.71388C14.7296 8.65807 14.6303 8.53826 14.572 8.3736L12.3747 3.37603ZM14.5445 6.48842C14.7907 6.71426 15.0126 6.94902 15.2062 7.17274C15.2024 7.17391 15.1987 7.1751 15.1951 7.17631C15.0682 7.21774 14.8402 7.31343 14.6776 7.54417C14.4819 7.82185 14.4876 8.13509 14.572 8.37346L14.5445 6.48842ZM14.5445 6.48842C14.2081 6.17988 13.6915 5.92072 13.1443 5.71096M14.5445 6.48842L13.1443 5.71096M12.2212 5.39938C12.0731 5.35356 11.9319 5.30988 11.8352 5.27512L12.2212 5.39938ZM12.2212 5.39938C12.28 5.41759 12.3399 5.43613 12.3986 5.45458M12.2212 5.39938L12.3986 5.45458M12.3986 5.45458C12.6227 5.52511 12.879 5.60929 13.1443 5.71096M12.3986 5.45458L13.1443 5.71096' stroke='white' stroke-width='1'/%3E%3C/svg%3E%0A");
    filter: brightness(calc(1 - var(--val)));
    margin-right: 5px;
}

.lm_dragProxy .lm_content {
    display: none !important;
}

.lm_dragProxy .lm_tabs .lm_tab{
    border-radius: 15px !important;
}