body{
  margin: 0;
  background-color: var(--background-primary);
  color: rgb(var(--text-rgb));
}

.flexlayout__layout{
  top: 45px !important;
}

nav{
  height: 45px;
  display: flex;
  align-items: center;
  padding-inline: 10px;
  gap: 10px;
}

nav svg{
  margin-right: 5px;
}

html[data-theme="light"] .flexlayout__tab_button_leading img{
  filter: invert(1);
}

.flexlayout__tab:has(> #blocklyArea) {
  overflow: hidden;
}

.blocklyMainBackground{
  stroke: none;
}

.blocklyTreeRowContentContainer input[type="search"]{
  width: 100px;
}

#blockly-h{
  background-color: transparent !important;
}

.flexlayout__tab_button--unselected img{
  opacity: 0.5;
}

.logo-sign{
  display: inline-flex;
  gap: 10px;
}

.logo-sign:hover{
  cursor: pointer;
}

nav button{
  background-color: var(--background-secondary);
}

button{
  background-color: var(--background-primary);
  font-family: 'fredoka';
  color: rgb(var(--text-rgb));
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

input{
  background-color: var(--background-secondary);
  font-family: 'fredoka';
  color: rgb(var(--text-rgb));
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.blocklyToolboxContents {
  padding: 0.5em;
}
.blocklyTreeRow {
  cursor: pointer;
  padding: 3px;
  margin-bottom: 0.5em;
  border-radius: 4px;
}

.flexlayout__tab_toolbar_button{
  cursor: pointer;
}


.newtab-box{
  cursor: pointer;
  background: var(--background-primary);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.newtab-box p{
  margin: 8px;
}

.tab-wrapper{
  padding: 0 20px;
}

nav a{
  color: rgb(var(--text-rgb));
  text-decoration: none;
}

.extension-card{
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  border-radius: 5px;
  background-color: var(--background-primary);
}

.extension-card h3, .extension-card p{
  margin: 0;
}