@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: 'fredoka';
}

a{
  text-decoration: none;
  color: rgb(var(--rgb-text));
}

body{
  margin: 0;
  background-color: var(--bg-1);
  color: rgb(var(--rgb-text));
}

h1,h2,h3{
  font-weight: 400;
}

::-webkit-scrollbar{
  background: transparent;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-corner{
  background: transparent;
}

::-webkit-scrollbar-thumb{
  background: var(--bg-1);
  border-radius: 5px;
}

nav button{
  background-color: var(--bg-2);
}

button{
  user-select: none;
  background-color: var(--bg-1);
  font-family: 'fredoka';
  color: rgb(var(--rgb-text));
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

img{
  user-select: none;
}

input{
  background-color: var(--bg-2);
  font-family: 'fredoka';
  color: rgb(var(--rgb-text));
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}
